body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

input {
    padding: 8px;
    width: 80%;
    margin: 10px 0;
}